<% include header.ejs%>
<script type="text/javascript">
    var i= true;
    $(document).ready(function(){
        $("#bt1").click(function(){
            if (i) $("p").hide();
            else $("p").show();

            i=!i;
        });
    });
</script>
</head>
<body>
<h1><%= title %></h1>
<button id = bt1 type="button">隐藏</button>
<h2>This is a heading</h2>
<p>This is a paragraph.</p>
<p id="test">This is another paragraph.</p>

</body>


<% include footer.ejs%>